.creators-pic {
    border-radius: 50%;
    border: 5px solid #7933ff;
    background-color: white;
}

.creators-pic:hover {
    border-radius: 50%;
    /* border: 5px solid #15f700; #a096d2; */
    border: 5px solid #15f700;
    background-color: white;
}

#creators-heading:after {
    content: 'Developers';
    color: #15f700;
}

.white-text {
    color: white;
}

.purple-text {
    color: #7933ff;
}

.dark-block {
    background-color: #081329;
}

.blue-block {
    background-color: #213147;
}

.purple-block {
    background-color: #7933ff;
}

.green-block {
    background-color: #15f700;
}

.white-block {
    background-color: #e4e1e1;
}

.start-btn {
    background-color: #15f700;
    border-color: #15f700;
    color: #081329;
    font-weight:600;
    margin-bottom: 10px;
}

.start-btn:hover {
    background-color: #a096d2;
    border-color: #a096d2;
    color: white;
}

.about-foroom {
    font-weight:300;
}