/* Stylesheet for Edit Profile*/
.navbar{
    background-color: transparent;
}

body{
    background-color: #081329;
}

/*Edit Profile Card*/
.edit-profile-pic {
    position: relative;
    border-radius: 50%;
    border: 1px solid #676767;
}

.change-pic-btn, .reset-btn {
    background-color: transparent;
    border-color: #5545a5;
    color: #5545a5;
}

.change-pic-btn:hover, .reset-btn:hover {
    background-color: #5545a5;
    border-color: #5545a5;
    color: white;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
}

.edit-profile-card {
    border: 0px;
    box-shadow: 10px 10px 10px #7b2cbf;
    background-color: transparent;
}

.edit-profile-card-header {
    background-color: #5545a5;
    height: 60px;

    color: white;
}

.card-body {
    background-color: #e4e1e1;
}

.edit-profile-form input, textarea{
    border-color: #dddddd;
    margin-bottom: 15px;
    padding:  10px 20px;
    border-radius: 10px;
    font-size: 100;
}

.edit-profile-form input:hover, .edit-profile-form textarea:hover{
    border-color: #b75cc0;
    box-shadow: inset 0px 0px 4px #5545a5;
}

.edit-profile-form label{
    font-size: small;
    font-weight: 700;
    color: #7b2cbf;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.save-btn {
    background-color: #15f700;
    border-color: #15f700;
    color: #081329;
    font-weight:600;
}

.save-btn:hover {
    background-color: #a096d2;
    border-color: #a096d2;
    color: white;
}