<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>foroom</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <!-- Bootstrap JavaScript -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script defer src="https://kit.fontawesome.com/f3e84a984d.js" crossorigin="anonymous"></script>
  <script defer src="../../js/index.js"></script>
  <script defer src="../../js/posts.js"></script>
  <script defer src="../../js/post.js"></script>
  <script defer src="../../js/navbar.js"></script>
  <link rel="stylesheet" href="../../css/stylesheet.css">
  <link rel="stylesheet" href="../../css/post.css">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid my-0 mx-auto px-5">
      <a href="../index/index.html" class="navbar-brand">
        <img src="../../images/navbar/foroom-logo.png" alt="forum_icon" width="150px">
      </a>

      <!-- Search container -->
      <form class="d-flex position-relative search-container" action="../search/search-view.html">
        <input type="text" id="searchInput" class="form-control" placeholder="Search forum ...">
        <button type="submit" id="searchButton" class="btn position-absolute end-0 search-button"><i
            class="bi bi-search"></i></button>
      </form>

      <div class="navbar-nav">
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">

          <!-- Notifications -->
          <li class="nav-item dropdown notification-dropdown">
            <a class="nav-link p-0 pt-auto" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="d-inline-block mb-0 mt-1">
                <i class="bi bi-bell-fill notification-bell"></i>
                <span class="position-absolute translate-middle badge rounded-pill bg-danger">
                  3
                </span>
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
            </ul>
          </li>

          <!-- Write post -->
          <a href="#" class="nav-link p-0 pt-auto" role="button">
            <div class="d-inline-block mb-0 mt-1 me-0 ms-4">
              <i class="bi bi-pencil-square write-post"></i>
            </div>
          </a>

          <!-- Divider -->
          <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto mx-3">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none my-2 text-white-50">
          </li>

          <!-- User dropdown menu -->
          <li class="nav-item dropdown-center">
            <a class="nav-link dropdown-toggle p-0 dropdown-toggle-custom-color" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <div class="d-inline-block mb-0">
                <img class="rounded-circle" id="UserProfilePic" src="../../images/profile_pictures/joolzie123.jpeg"
                  alt="profile_picture" width="35" height="35">
                <span id="userId" class="username fw-medium ms-1">joolzie123</span>
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
              <li><a href="../profiles/view-profile-view.html" class="dropdown-item">Profile</a></li>
              <li><a href="index-unregistered.html" class="dropdown-item">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--main post-->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7">
        <div class="card mt-2 mb-0">
          <div class="card-body rounded">
            <img class="rounded-circle" src="../../images/profile_pictures/coco_san00.jpeg" alt="profile_picture"
              width="35" height="35">
            <span class="post-author ms-1 pt-2">
              <a href="#" class="post-author-link link-underline link-underline-opacity-0">coco_san00</a>
            </span>

            <div class="post-content">
              <div class="d-flex flex-row justify-content-start align-baseline" id="title">
                <!--needs to be in here to remove the extra spaces when getting the element text in the function-->
                <p class="post-title" id="postTitle">Fitness Tips for Beginners</p>
              </div>
              <!--same as here-->
              <div class="post-para" id="post">
                <p class="post-text" id="postText">
                  Attention fitness enthusiasts! Let's help out the beginners on their fitness journey. If you have any
                  valuable tips, advice, or resources for someone who's just starting to embrace a healthier lifestyle,
                  share them here. From workout routines to healthy eating habits or even mental wellbeing, let's
                  empower each other to lead healthier lives!
                </p>
              </div>

              <div class="flex-center iconGrid">
                <i id="upvoteIcon-${postId}" class="bi bi-caret-up iconGrid-upvote iconGrid-color"></i>
                <span id="voteCount-${postId}" class="iconGrid-text mx-1">2</span>
                <i id="downvoteIcon-${postId}" class="bi bi-caret-down iconGrid-downvote iconGrid-color"></i>
                <i class="bi bi-chat-right-text ms-3 iconGrid-comment iconGrid-color"></i>
                <span class="iconGrid-text mx-1">3 comments</span>
              </div>

              <hr style="width: 100%">
              <!--Comment box-->
              <div class="comment-box-container">
                <span class="post-author ms-1 pt-2" id="commenting-as">Commenting as joolzie123</span>
                <textarea class="comment-box card col-md-12 mt-2 mb-0" name="comment" placeholder="Leave a Comment ..."
                  id="CommentBox"></textarea>
                <button type="button" class="comment-button rounded" onclick="createCommentBox()">Comment</button>
              </div>
              <!--Script for auto resize comment box-->
              <script>
                const textarea = document.querySelector("textarea");
                textarea.addEventListener("keyup", e => {
                  textarea.style.height = "102px";
                  let scHeight = e.target.scrollHeight;
                  textarea.style.height = `${scHeight}px`;
                });
              </script>
              <!--end Script for auto resize comment box-->
            </div>
          </div>
        </div>
      </div>

      <span class="comment-label col-sm-6 mt-3 mb-2">Comments:</span>

    </div>
    <!-- comments section-->
    <div class="comment-space-container" id="commentSpace">
      <!--comment 1-->
      <div class=" row d-flex justify-content-center">
        <div class="col-md-7">
          <div class="card mt-2 mb-0">
            <div class="card-body rounded">
              <img class="rounded-circle" src="../../images/profile_pictures/joolzie123.jpeg" alt="profile_picture"
                width="35" height="35">
              <span class="post-author ms-1 pt-2 fw-medium ms-2">
                <a href="../profiles/view-profile-view.html" class="link-unstyled">joolzie123</a>
              </span>
              <div class="comment-thread"> <!--vertical thread line-->
                <div class="comment-content">
                  <p class="comment-text">
                    Consistency is key! Start with small achievable goals and gradually increase the intensity.
                    Remember, progress is progress, no matter how small.
                  </p>
                  <div class="flex-center iconGrid">
                    <i id="upvoteIcon-${postId}" class="bi bi-caret-up iconGrid-upvote iconGrid-color"></i>
                    <span id="voteCount-${postId}" class="iconGrid-text mx-1">3</span>
                    <i id="downvoteIcon-${postId}" class="bi bi-caret-down iconGrid-downvote iconGrid-color"></i>
                    <i class="bi bi-reply mx-2"></i>
                  </div>
                </div>
                <!-- comment 1 reply -->
                <div class="row d-flex justify-content-end">
                  <div class="col-12">
                    <div class="mt-1 mb-0">
                      <div class="card-body rounded">
                        <img class="rounded-circle" src="../../images/profile_pictures/coc_man_2099.jpeg"
                          alt="profile_picture" width="35" height="35">
                        <span class="post-author ms-1 fw-medium ms-2">
                          <a href="../profiles/coc_man_2099.html" class="link-unstyled">coc_man_2099</a>
                        </span>
                        <div class="comment-thread">
                          <div class="comment-content">
                            <p class="comment-text">
                              Don't forget to prioritize mental wellbeing alongside physical fitness. Incorporating
                              mindfulness practices like yoga or meditation can bring balance and reduce stress.
                            </p>
                            <div class="flex-center iconGrid">
                              <i id="upvoteIcon-${postId}" class="bi bi-caret-up iconGrid-upvote iconGrid-color"></i>
                              <span id="voteCount-${postId}" class="iconGrid-text mx-1">2</span>
                              <i id="downvoteIcon-${postId}"
                                class="bi bi-caret-down iconGrid-downvote iconGrid-color"></i>
                              <i class="bi bi-reply mx-2"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--comment 1 reply end-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Comment 2-->
      <div class="row d-flex justify-content-center">
        <div class="col-md-7">
          <div class="card mt-2 mb-0">
            <div class="card-body rounded">
              <img class="rounded-circle" src="../../images/profile_pictures/cirup29.jpeg" alt="profile_picture"
                width="35" height="35">
              <span class="post-author ms-1 pt-2 fw-medium ms-2">
                <a href="#" class="link-unstyled">cirup29</a>
              </span>
              <div class="comment-thread">
                <div class="comment-content">
                  <div id="comment-textsection">
                    <p class="comment-text">
                      Don't underestimate the power of nutrition. Focus on incorporating whole, unprocessed foods into
                      your diet and hydrate well. It's a game-changer for your overall health and fitness.
                    </p>
                  </div>
                  <div class="flex-center iconGrid">
                    <i id="upvoteIcon-${postId}" class="bi bi-caret-up iconGrid-upvote iconGrid-color"></i>
                    <span id="voteCount-${postId}" class="iconGrid-text mx-1">1</span>
                    <i id="downvoteIcon-${postId}" class="bi bi-caret-down iconGrid-downvote iconGrid-color"></i>
                    <i class="bi bi-reply mx-2"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end comment 2-->

    </div> <!--end comment space-->
</body>

</html>