
<!--create a post-->
<div class="row d-flex justify-content-center">
    <div class="col-md-7">
        <div class="card mt-4 mb-0">
            <div class="card-body rounded">
                <div class="mt-2">
                    <img class="rounded-circle ms-4" src="{{currentUser.icon}}" alt="profile_picture" width="50" height="50">
                    <span class="post-author ms-2 pt-2"> Posting as {{currentUser.username}}</span>
                </div>
                <form id="create-post" method="POST" action="/create_post/">
                    <div class="create-post-content">
                        <span>Title:</span>
                        <div class="create-post-title-container">
                            <input type="text" name="title" id="post-title" class="create-a-post-title card col-md-12 mt-2 mb-0"
                            placeholder="Title ...">
                        </div>
                        <br><span>Body:</span>
                        <div class="create-post-text-container">
                            <textarea class="create-a-post-box card col-md-12 mt-2 mb-0" id="" name="text" placeholder="Body ..."
                            required>{{body}}</textarea>
                            <br>
                            <input class="create-post-button rounded" type="submit" value="Post">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>