<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foroom</title>

    {{>headext}}
</head>

<body>

  <!-- Navbar -->
  {{> navbar-registered}}

  <!--create a post-->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7">
        <div class="card mt-2 mb-0">
          <div class="card-body  rounded">
            <img class="rounded-circle" src="{{currentUser.icon}}" alt="profile_picture"
              width="35" height="35">

                <form id="create-post" method="POST" action="/create_post">
                    <span class="post-author ms-1 pt-2">Posting as {{currentUser.username}}</span>
                    <div class="create-post-content">
                    <!--title box-->
                    <div class="create-post-title-container">
                        <input type="text" name="title" id="post-title" class="create-a-post-title card col-md-12 mt-2 mb-0"
                        placeholder="Title ...">
                    </div>
                    <!--text box-->
                    <div class="create-post-text-container">
                        <textarea class="create-a-post-box card col-md-12 mt-2 mb-0" id="" name="text"
                        placeholder="Text ..." required></textarea>
                        <input class="create-post-button rounded" type="submit" value="Post" required>
                </form>
                <!--Script for auto resize text box-->
                <script>
                  const textarea = document.querySelector("textarea");
                  textarea.addEventListener("keyup", e => {
                    textarea.style.height = "102px";
                    let scHeight = e.target.scrollHeight;
                    textarea.style.height = `${scHeight}px`;
                  });
                </script>
                <!--end Script for auto resize text box-->
              </div>
            </div>
          </div>
        </div>
      </div>


</body>

</html>