{{!-- CREATE-POST --}}
{{#if userFound}}
    {{> create-postbox}}
{{else}}
    {{> unregistered-create-post}}
{{/if}}

{{!-- POST FILTERS --}}
{{> sort-buttons}}

{{!-- POSTS --}}
<div class="container" id="postsContainer">
    {{#each posts}}
        {{#if (isEqual this.author.username ../currentUser.username)}}
            {{> mypost-card this isIndex=../isIndex}}
        {{else}}
            {{> otherpost-card this isIndex=../isIndex}}
        {{/if}}
    {{/each}}
</div>