{{!-- CREATE-POST --}}
{{#if userFound}}
    {{> myCreatePostBox}}
{{else}}
    {{> guestCreatePostBox}}
{{/if}}

{{!-- POST FILTERS --}}
{{> filterBox}}

{{!-- POSTS --}}
<div class="container" id="postsContainer">
    {{#each posts}}
        {{#if (isEqual this.author.username ../currentUser.username)}}
            {{> myPostCard this isIndex=../isIndex currentUser=../currentUser._id}}
        {{else}}
            {{> otherPostCard this isIndex=../isIndex currentUser=../currentUser._id}}
        {{/if}}
    {{/each}}
</div>