<link rel="stylesheet" href="/static/css/login-style.css">

<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid my-0 mx-auto px-5">
        <a href="/" class="navbar-brand ">
        <img src="/static/images/navbar/foroom-logo.png" alt="forum_icon" width="150px">
        </a>
    </div>
</nav>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div id="login-panel">
        <form action="/login" class="form-container form-sign-up" id="loginForm" method="POST">
            <h2>Login your <br> account</h2>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" minlength="6" maxlength="15" required>
            <a href="/sign-up"> New to foroom? Sign Up</a>
            <button type="submit">Login</button>
        </form>
    </div>
</div>