<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7 mt-2">
            <div class="rounded d-flex justify-content-start align-items-center py-1 mt-2">
                <h3 class="fw-bolder my-4" id="searchResultsHeading">Showing results for "{{{searchText}}}"</h3>
            </div>
        </div>
    </div>
</div>

{{!-- SORT FILTERS --}}
{{#if posts.length}}
    {{> filterPostBox}}
{{/if}}

<!-- RESULTS -->
<div class="container" id="postsContainer">
    {{#if posts.length}}
        {{#each posts}}
            {{#if (isEqual this.author.username ../currentUser.username)}}
                {{> myPostCard this isIndex=../isIndex currentUser=../currentUser._id}}
            {{else}}
                {{> otherPostCard this isIndex=../isIndex currentUser=../currentUser._id}}
            {{/if}} 
        {{/each}}
    {{else}}
        {{!-- TODO: update style --}}
        <center>
            <p>No results for "{{searchText}}"</p> 
        </center>
    {{/if}}
</div>