<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Posts</title>

    {{>headext}}

</head>
<body>
    <!-- Navbar -->
    {{#if userFound}}
        {{>navbar-registered}}
    {{else}}
        {{>navbar-unregistered}}
    {{/if}}

    <!-- Start of posts -->
    <div class="container" id="postsContainer">
        {{#each posts}}
            {{#if (isEqual this.author.username @root.currentUser.username)}}
                {{> mypost-card post=this isIndex=@root.isIndex}}
            {{else}}
                {{> otherpost-card post=this isIndex=@root.isIndex}}
            {{/if}}
        {{/each}}
    </div>

</body>
</html>