<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Posts</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Bootstrap JavaScript -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script defer src="https://kit.fontawesome.com/f3e84a984d.js" crossorigin="anonymous"></script>
    <script defer src="/static/js/sortPosts.js"></script>
    <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>
<body>
    <!-- Navbar -->
    {{#if userFound}}
        {{>navbar-registered user}}
    {{else}}
        {{>navbar-unregistered}}
    {{/if}}

    <!-- Start of posts -->
    <div class="container" id="postsContainer">
        {{#each posts}}
            {{#if (isEqual this.author.username @root.user.username)}}
                {{> mypost-card post=this isIndex=@root.isIndex}}
            {{else}}
                {{> otherpost-card post=this isIndex=@root.isIndex}}
            {{/if}} 
        {{/each}}
    </div>

</body>
</html>