<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card mt-3 mb-2">
                <div class="card-body rounded">
                    <div class="input-group mb-auto">
                        <!-- TODO: view profile -->
                        <a
                            href="../profiles/view-profile-view.html"
                            class="nav-link d-sm-flex align-items-sm-center me-3"
                        >
                            <img
                                class="rounded-circle create-pfp"
                                src="{{user.icon}}"
                                alt="profile_picture"
                                width="35"
                                height="35"
                            />
                        </a>
                        <a
                            href="/create-post"
                            class="form-control create-post-link"
                            style="text-decoration: none;"
                        >Create a post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>