<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body rounded d-flex justify-content-start align-items-center py-1">
                    <span class="me-2">Sort comments: </span>
                    <button class="btn sort-btn me-1 my-0" id="sortUpvotesComment" type="button">
                        <i class="bi bi-caret-up-fill"></i>
                        <span class="ms-1">Upvotes</span>
                    </button>
                    <button class="btn sort-btn mx-1 my-0" id="sortDateComment" type="button">
                        <i class="bi bi-calendar-date"></i>
                        <span class="ms-1">Date</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>