<nav class="navbar navbar-expand-lg fixed-top">
    <div class="d-flex flex-fill justify-content-between align-items-center px-5 mx-2">
        <a href="/" class="navbar-brand">
            <img src="/static/images/navbar/foroom-logo.png" alt="forum_icon" width="150px"/>
        </a>
        {{!-- SEARCH FIELD --}}
        <form class="d-flex position-relative search-container" action="/search" method="GET">
            <input type="text" id="searchInput" class="form-control" placeholder="Search forum ..." name="q"/>
            <button type="submit" id="searchButton" class="btn position-absolute end-0 search-button">
                <i class="bi bi-search"></i>
            </button>
        </form>
        
        <div class="navbar-nav">
            <div class="nav-item">
            <a href="/login" class="btn btn-sm rounded login-btn me-3 px-4 py-1">Log In</a>
            </div>
            <div class="nav-item">
                <form action="">
                    <a href="/sign-up" class="btn btn-sm rounded signup-btn px-3 py-1">Sign Up</a>
                </form>
            </div>
        </div>
    </div>
</nav>
