/* Stylesheet for View Profile*/

/* View Profile Card */
.edit-profile-btn {
    background-color: transparent;
    border-color: #a05cc0;
    color: #a05cc0;
}

.edit-profile-btn:hover {
    background-color: #a05cc0;
    border-color: #a05cc0;
}

.view-profile-card-header {
    background-color: #a05cc0;
    height: 160px;
}

.profile-pic {
    position: relative;
    top: -140px;
    margin-bottom: -140px;
    border-radius: 50%;
    border: 1px solid #676767;
}

/* View Profile Buttons */
.view-profile-card {
    background-color: rgb(248, 248, 248);
}

.go-back-btn {
    background-color: #7b2cbf;
    border-color: #7b2cbf;
}

.go-back-btn:hover {
    background-color: #3c1b59;
    border-color: #3c1b59;
}

.view-more-btn {
    background-color: #7b2cbf;
    border-color: #7b2cbf;
}

.view-more-btn:hover {
    background-color: #3c1b59;
    border-color: #3c1b59;
}

/*Latest Posts Card*/
.latest-post-card-title {
    font-weight: 600;
}