<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Bootstrap JavaScript -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script defer src="https://kit.fontawesome.com/f3e84a984d.js" crossorigin="anonymous"></script>
    <script defer src="/static/js/post.js"></script>
    <script defer src="/static/js/auth.js"></script>
    <script defer src="/static/js/comment.js"></script>

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="stylesheet" href="/static/css/view-profile.css">
</head>
<body>
    {{!-- NAVBAR --}}
    {{#if userFound}}
        {{> myNavbar}}
    {{else}}
        {{> guestNavbar}}
    {{/if}}

    {{{body}}}
</body>
</html>